*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Color vars */
:root {
    --primary-color-rgb: 36, 36, 36;
    --primary-color: rgb(var(--primary-color-rgb));
}

html {
    /* STEP 1 - Redefine font-size default*/
    font-size: 0.625em;
}

body {
    /* STEP 2 - Redefine font-size default*/
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* HEADER */

.header {
    display: flex;
    height: calc(100vh - 8rem);
}

.header__highlighted-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 50%;
    height: 100%;
    position: relative;
}

.header__highlighted-article::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(var(--primary-color-rgb),.04);
    transform-origin: 100% 0;
    transform: skewX(-20deg);
}

.logo__image {
    width: 2rem;
    height: 2rem;
    align-self: flex-start;
}

.header__highlighted-article .logo__image {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.header__article {
    align-self: center;
    padding: 3.4rem;
}

.article__date {
    font-size: 1.2rem;
}

.article__title {
    font-weight: 700;
}

.article__content {
    font-size: 1.5rem;
}

.article__button {
    background-color: black;
    color: aliceblue;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 12.2rem;
    height: 4rem;
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    color: black;
}

.next-links {
    align-self: flex-end;
    font-weight: bold;
}

.next-links::after {
    content: "" ;
    width: 30px;
    height: 30px;
    color: black;
    margin-left: 0.8rem;
    background-image: url("../images/chevron-right.png");
    background-size: cover;
}

.header__highlighted-article .next-links{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.header__slider {
    width: 50%;
    /* min-height: 100%; */
    height: calc(100vh - 8rem);
    position: relative;
}

.header__image {
    display: none;
}

.header__image img {
    width: 100%;
    height: calc(100vh - 8rem);
    filter: grayscale(1);
}

.header__image.image--is-on {
    display: block;
    object-fit: cover;
    object-position: center top;
    height: calc(100vh - 8rem);
}

.slider__button,
.button-next {
    cursor: pointer;
    position: absolute;
}

.slider__button {
    color: #f0f;
    top: 50%;
    /* TODO : centrer en hauteur !! margin-top: calc(17.5px / 2); */
    font-size: 3rem;
    margin: 0 2rem;
}

.button-next {
    right: 0;
    text-align: end;
}

.slider__puces {
    /* margin-bottom: 20rem; */
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -90px;
    display: flex;
}

.puce-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #f0f;
    margin: 0 0.5rem;
}

/* MENU */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 100vw;
    padding: 3rem;
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

.logo__text {
    width: 9rem;
    height: 2rem;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__nav > li {
    list-style: none;
    margin-right: 2rem;
}

.menu__nav > li > a{
    color: #434343;
}

.menu__nav > li > img {
    width: 1.5rem;
}


/* MAIN */
p {
    margin-top: 0;
}

.main {
    display: flex;
    padding: 3rem 7rem;
    justify-content: space-around;
    max-width: 102.4rem;
    margin: 5.5rem auto;
}

.main__articles-section {
    padding-right: 3rem;
}

.main__articles-section article {
    margin-bottom: 5rem;
}

.main__articles-section a {
    text-align: right;
}

.article__about {
    margin: 0 2rem;
    width: 80%;
    
}
